/****************************************
RESETS, SETUP, ETC.
****************************************/

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'DM Sans', sans-serif;}

body {
    width: 100%;
    height: 100vh;
    font-size: 15px;
}

.container {
    display: flex;
}

/********** COLORS ***********/
:root {
    --primary-color: #353536;
    --secondary-color: #8e92a4;
    --background-color: #f5f8ff;
    --task-color: #777982;
    --task-checked-color: #009e90;
}

/****************************************
LEFT-BAR
****************************************/

.left-bar {
    min-width: 290px;
    height: 100vh;
    padding-top: 120px;
    padding-left: 30px;
    position: relative;
    border-right: 1px solid #e3e7f7;
    background-color: var(--background-color);
}

.left-bar h3 {
    padding-top: 30px;
}

.left-bar ul {
    list-style-type: none;
    padding: 12px 0;
    margin: 0;
}

.left-bar li {
    color: var(--secondary-color);
    padding: 6px;
    cursor: pointer;
}

.left-bar i {
    padding: 0px 10px;
}

.left-bar .selected-item {
    font-weight: 700;
    color: var(--primary-color);
}

/****************************************
MAIN CONTENT
****************************************/

.main-content {
    width: 640px;
    height: 100vh;
    padding: 60px 60px;
    flex-grow: 1; /* allow center div to stretch while left and right bar widths remain stretched */
    overflow: scroll; /* allow content to scroll, while view remains fullpage */
}

.main-content h1 {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--secondary-color);
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

/********** CUSTOM CHECKBOX **********/

/* prep the container */
.checkbox-div {
    position: relative;
    display: block;
    height: 0;
    width: 0;
    cursor: pointer;
    user-select: none;
}

/* hide the default checkbox */
.checkbox-div input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    opacity: 0;
}

/* create an empty custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: solid 1px var(--task-color);
}

/* change background color when checked */
.checkbox-div input:checked ~ .checkmark {
    background-color: var(--task-checked-color);
    border: none;
}

/********** CUSTOM CHECKMARK **********/

/* create checkmark area (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-div input:checked ~ .checkmark {
    display: block;
}

/* create and style checkmark lines */
.checkbox-div .checkmark:after {
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 10px;
    height: 5px;
    left: 9px;
    right: 5px;
    transform: rotate(45deg);
}

/* STUCK WITH THE CHECKBOX CUSTOMIZATION. NEED TO COME TO THIS ANOTHER TIME ....
https://codepen.io/bobaloushqee/pen/zYoBxJe?editors=1100
https://stackoverflow.com/questions/4148499/how-to-style-a-checkbox-using-css
http://jsfiddle.net/maxshuty/qxakwcy3/ */


















/****************************************
RIGHT-BAR
****************************************/

.right-bar {
    border: solid pink 1px;
    min-width: 330px;
}